.SavedNewsHeader {
  width: 100%;
  padding-top: 120px;
  outline: 2px dashed red;
}

.SavedNewsHeader__container {
  width: calc(1232 / 1440 * 100%);
  max-width: 1232px;
  margin: 0 auto;
  outline: 2px dashed green;
}
