.SignoutButton {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0;
  background-color: transparent;
  outline: 1px solid white;
  padding: 12px 19px;
}

.SignoutButton_background_white {
  color: #1a1b22;
  outline-color: #1a1b22;
}

.SignoutButton__label {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 500;
  margin-right: 14px;
}

.SignoutButton__icon {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(147deg)
    brightness(118%) contrast(99%);
}

.SignoutButton_background_white .SignoutButton__icon {
  filter: none;
}
