.SearchForm {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 88px auto 80px;
  background-color: white;
  width: 100%;
  border-radius: 100px;
}

.SearchForm__input-container {
  position: relative;
  display: block;
  width: calc(440 / 608 * 100%);
  max-width: 440px;
  margin: 0;
  padding: 0;
}

.SearchForm__error {
  position: absolute;
  top: calc(100% + 8px);
  left: 24px;
  padding: 4px 8px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  color: red;
  border-radius: 8px;
  /* The error message is hard to see without a background */
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -1px 2px 8px rgba(14, 26, 57, 0.5);
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.SearchForm__error_visible {
  opacity: 1;
}

.SearchForm__input {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  width: 100%;
  min-height: 64px;
  padding-left: 24px;
  border-radius: 100px;
  border: 0;
  height: 100%;
  box-sizing: border-box;
  box-shadow: none;
  transition: border 0.2s ease-in-out;
}

.SearchForm__input:focus {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 1);
}

.SearchForm__input::placeholder,
.SearchForm__input::-moz-placeholder,
.SearchForm__input::-webkit-input-placeholder {
  color: #b6bcbf;
}

.SearchForm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  width: calc(168 / 608 * 100%);
  max-width: 168px;
  min-width: max-content;
  padding: 20px 56px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  background-color: #2f71e5;
  transition: background-color 0.2s linear;
}

.SearchForm__button:hover {
  background-color: #347EFF;
}

.SearchForm__button:active {
  background-color: #2A65CC;
}

.SearchForm__button-label {
  padding: 0;
  display: block;
  min-width: 56px;
}

@media screen and (max-width: 1044px) {
  .SearchForm {
    margin: 48px auto;
  }

  .SearchForm__input-container {
    width: calc(288 / 448 * 100%);
    max-width: 288px;
  }

  .SearchForm__input {
    min-height: 56px;
  }

  .SearchForm__button {
    width: calc(160 / 448 * 100%);
    max-width: 160px;
    min-height: 56px;
    padding: 16px 52px;
  }
}

@media screen and (max-width: 680px) {
  .SearchForm {
    margin-top: 98px;
    flex-direction: column;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 32px;
  }

  .SearchForm__input-container {
    width: 100%;
    max-width: 288px;
    margin-bottom: 40px;
  }

  .SearchForm__error {
    left: 20%;
  }

  .SearchForm__input {
    padding: 17px 16px;
    border-radius: 100px;
  }

  .SearchForm__button {
    width: 100%;
    max-width: 288px;
    padding: 16px 116px;
  }
}
