.SearchForm {
  position: relative;
  display: flex;
  margin: 88px auto 80px;
  background-color: white;
  width: 100%;
  border-radius: 50px;
}

.SearchForm__input {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.37;
  font-weight: 400;
  min-height: 64px;
  width: calc(440 / 608 * 100%);
  max-width: 440px;
  padding-left: 24px;
  border-radius: 50px 0 0 50px;
  border: 0;
}

.SearchForm__input::placeholder,
.SearchForm__input::-moz-placeholder,
.SearchForm__input::-webkit-input-placeholder {
  color: #b6bcbf;
}

.SearchForm__button {
  width: calc(168 / 608 * 100%);
  max-width: 168px;
  min-height: 64px;
  border: 0;
  margin: 0;
  background-color: #2f71e5;
  border-radius: 50px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  padding: 20px 56px;
}

.SearchForm__button:hover {
  background-color: #347EFF;
}

.SearchForm__button:active {
  background-color: #2A65CC;
}
