.CredentialsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(360 / 430 * 100%);
  max-width: 360px;
  margin: 34px auto 28px;
  box-sizing: border-box;
}

.CredentialsForm__title {
  display: block;
  margin: 0 0 22px 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 900;
  text-align: left;
}

.CredentialsForm__error {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  color: red;
  background-color: transparent;
  padding: 0;
  margin: 0 0 8px 0;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.CredentialsForm__error_visible {
  opacity: 1;
}

.CredentialsForm__submit-button {
  width: 100%;
  max-width: 360px;
  min-height: 64px;
  padding: 20px 0;
  margin-bottom: 16px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 500;
  background-color: #2f71e5;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.CredentialsForm__submit-button:hover {
  background-color: #347eff;
}

.CredentialsForm__submit-button:active {
  background-color: #2a65cc;
}

.CredentialsForm__submit-button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  box-shadow: unset;
  cursor: not-allowed;
}

.CredentialsForm__footer {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: black;
  text-align: center;
}

.CredentialsForm__footer-link {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: blue;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

.CredentialsForm__footer-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1044px) {
  .CredentialsForm {
    width: calc(358 / 430 * 100%);
    min-width: 358px;
  }
}

@media screen and (max-width: 680px) {
  .CredentialsForm {
    width: calc(288 / 320 * 100%);
    min-width: 288px;
    margin: 16px auto auto;
  }
}
