.AboutSection {
  display: inline-block;
  width: 100%;
  /* outline: 2px dashed green; */
}

.AboutSection__container {
  display: flex;
  width: calc(1232 / 1440 * 100%);
  max-width: 1232px;
  margin: 80px auto;
}

.AboutSection__avatar {
  position: relative;
  display: block;
  width: 464px;
  height: 464px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 56px;
}

.AboutSection__text-container {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.AboutSection__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  line-height: 1.15;
  font-weight: 400;
  margin: 51px 0 24px;
  text-align: left;
}

.AboutSection__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  text-align: left;
  max-width: 600px;
  margin: 0;
  margin-bottom: 24px;
}
