
.SignInForm .SignInForm__input {
  margin-bottom: 31px;
}

.SignInForm__input:last-of-type {
  margin-bottom: 17px;
}

@media screen and (max-width: 680px) {
  .SignInForm .SignInForm__input {
    margin-bottom: 30px;
  }

  .SignInForm__input:last-of-type {
    margin-bottom: 17px;
  }
}
